.card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 150px;
    height: 200px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6a176d48;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
}

.translation {
    color: rgb(23, 85, 43);
    font-size: 18px;
}

.checkButton {
    background-color: rgb(23, 85, 43);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
    background-color: #043f27;
    }
}
